@import url("https://use.typekit.net/ogg7cnr.css");
@import url("https://use.typekit.net/ogg7cnr.css");
.icon--fixed-xxs {
  width: 15px !important;
  height: 15px !important;
}

.icon--fixed-xs {
  width: 20px !important;
  height: 20px !important;
}

.icon--fixed-xsm {
  width: 25px !important;
  height: 25px !important;
}

.icon--fixed-sm {
  width: 30px !important;
  height: 30px !important;
}

.icon--fixed {
  width: 40px !important;
  height: 40px !important;
}

.icon--fixed-md {
  width: 50px !important;
  height: 50px !important;
}

.icon--fixed-lg {
  width: 60px !important;
  height: 60px !important;
}

.icon--fixed-xl {
  width: 80px !important;
  height: 80px !important;
}

.icon--fixed-xxl {
  width: 130px !important;
  height: 130px !important;
}

.icon-like {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 35px;
  padding: 8px;
  margin-top: -5px;
  background-color: white;
  border-radius: 50px;
}

@media (min-width: 575.98px) {
  .icon-like {
    left: 8%;
    margin-top: -1px;
    margin-left: -2px;
  }
}
/*.icon--fixed-md-xs svg {*/
/*@include media-breakpoint-up(md) {*/
/*    width: rem(20) !important;*/
/*    height: rem(20) !important;*/
/*}*/
/*}*/
/*.icon--fixed-md-xsm svg {*/
/*@include media-breakpoint-up(md) {*/
/*    width: rem(25) !important;*/
/*    height: rem(25) !important;*/
/*}*/
/*}*/
/*.icon-padding {*/
/*    padding-left: rem(5);*/
/*    padding-right: 0!important; !* surcharge *!*/
/*}*/
* {
  font-family: "Acumin Pro Wide";
}

.reross {
  font-family: Reross;
}

.acumin {
  font-family: "Acumin Pro Wide";
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

H1 {
  font-family: Reross;
  text-transform: uppercase;
}

H2 {
  font-family: Reross;
  text-transform: uppercase;
  font-size: 20px;
}

H3 {
  font-family: Reross;
  text-transform: uppercase;
}

H4 {
  font-family: "Acumin Pro Wide";
  text-transform: uppercase;
  font-size: 20px;
}

p {
  font-family: "Acumin Pro Wide";
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

@media (min-width: 575.98px) {
  H2 {
    font-size: 30px;
  }
}
.orange {
  background-color: #FE9B04;
}

.text-orange {
  color: #FE9B04;
}

.bg-black {
  background-color: black;
  color: white;
}

.light-grey {
  color: #707070;
}

/*
 * Useful classes for margins & paddings, taking account media queries.
 * ex: `.m-a-25` (margins of 25px), `.m-x-25` (horiz. margins of 25px), `.p-y-70` (vertic. paddings of 70px),
 * `.m-l-md-25` (margin-left 25px, within md media-query), `.p-r-xs-10` (padding-right 10px, within xs media-query)
*/
.m-a-0 {
  margin: 0px !important;
}

.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.p-a-0 {
  padding: 0px !important;
}

.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.m-a-5 {
  margin: 5px !important;
}

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-a-5 {
  padding: 5px !important;
}

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-a-10 {
  margin: 10px !important;
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-a-10 {
  padding: 10px !important;
}

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-a-15 {
  margin: 15px !important;
}

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-a-15 {
  padding: 15px !important;
}

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-a-20 {
  margin: 20px !important;
}

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-a-20 {
  padding: 20px !important;
}

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-a-25 {
  margin: 25px !important;
}

.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-a-25 {
  padding: 25px !important;
}

.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-a-30 {
  margin: 30px !important;
}

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-a-30 {
  padding: 30px !important;
}

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-a-35 {
  margin: 35px !important;
}

.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.m-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-a-35 {
  padding: 35px !important;
}

.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-a-40 {
  margin: 40px !important;
}

.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-a-40 {
  padding: 40px !important;
}

.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-a-45 {
  margin: 45px !important;
}

.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.m-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-a-45 {
  padding: 45px !important;
}

.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.p-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-a-50 {
  margin: 50px !important;
}

.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-a-50 {
  padding: 50px !important;
}

.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-a-55 {
  margin: 55px !important;
}

.m-y-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.m-x-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-l-55 {
  margin-left: 55px !important;
}

.m-r-55 {
  margin-right: 55px !important;
}

.p-a-55 {
  padding: 55px !important;
}

.p-y-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.p-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.p-l-55 {
  padding-left: 55px !important;
}

.p-r-55 {
  padding-right: 55px !important;
}

.m-a-60 {
  margin: 60px !important;
}

.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.p-a-60 {
  padding: 60px !important;
}

.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.m-a-65 {
  margin: 65px !important;
}

.m-y-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.m-x-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.m-t-65 {
  margin-top: 65px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.m-l-65 {
  margin-left: 65px !important;
}

.m-r-65 {
  margin-right: 65px !important;
}

.p-a-65 {
  padding: 65px !important;
}

.p-y-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.p-x-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-b-65 {
  padding-bottom: 65px !important;
}

.p-l-65 {
  padding-left: 65px !important;
}

.p-r-65 {
  padding-right: 65px !important;
}

.m-a-70 {
  margin: 70px !important;
}

.m-y-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.m-x-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.m-l-70 {
  margin-left: 70px !important;
}

.m-r-70 {
  margin-right: 70px !important;
}

.p-a-70 {
  padding: 70px !important;
}

.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.m-a-75 {
  margin: 75px !important;
}

.m-y-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.m-x-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.p-a-75 {
  padding: 75px !important;
}

.p-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.p-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.m-a-80 {
  margin: 80px !important;
}

.m-y-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.p-a-80 {
  padding: 80px !important;
}

.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.m-a-85 {
  margin: 85px !important;
}

.m-y-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.m-x-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.m-t-85 {
  margin-top: 85px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.m-l-85 {
  margin-left: 85px !important;
}

.m-r-85 {
  margin-right: 85px !important;
}

.p-a-85 {
  padding: 85px !important;
}

.p-y-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.p-x-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.p-t-85 {
  padding-top: 85px !important;
}

.p-b-85 {
  padding-bottom: 85px !important;
}

.p-l-85 {
  padding-left: 85px !important;
}

.p-r-85 {
  padding-right: 85px !important;
}

.m-a-90 {
  margin: 90px !important;
}

.m-y-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.m-x-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.m-l-90 {
  margin-left: 90px !important;
}

.m-r-90 {
  margin-right: 90px !important;
}

.p-a-90 {
  padding: 90px !important;
}

.p-y-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.p-x-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.p-l-90 {
  padding-left: 90px !important;
}

.p-r-90 {
  padding-right: 90px !important;
}

.m-a-95 {
  margin: 95px !important;
}

.m-y-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.m-x-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.m-t-95 {
  margin-top: 95px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.m-l-95 {
  margin-left: 95px !important;
}

.m-r-95 {
  margin-right: 95px !important;
}

.p-a-95 {
  padding: 95px !important;
}

.p-y-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.p-x-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.p-t-95 {
  padding-top: 95px !important;
}

.p-b-95 {
  padding-bottom: 95px !important;
}

.p-l-95 {
  padding-left: 95px !important;
}

.p-r-95 {
  padding-right: 95px !important;
}

.m-a-100 {
  margin: 100px !important;
}

.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.p-a-100 {
  padding: 100px !important;
}

.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.m-a-105 {
  margin: 105px !important;
}

.m-y-105 {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

.m-x-105 {
  margin-left: 105px !important;
  margin-right: 105px !important;
}

.m-t-105 {
  margin-top: 105px !important;
}

.m-b-105 {
  margin-bottom: 105px !important;
}

.m-l-105 {
  margin-left: 105px !important;
}

.m-r-105 {
  margin-right: 105px !important;
}

.p-a-105 {
  padding: 105px !important;
}

.p-y-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important;
}

.p-x-105 {
  padding-left: 105px !important;
  padding-right: 105px !important;
}

.p-t-105 {
  padding-top: 105px !important;
}

.p-b-105 {
  padding-bottom: 105px !important;
}

.p-l-105 {
  padding-left: 105px !important;
}

.p-r-105 {
  padding-right: 105px !important;
}

.m-a-110 {
  margin: 110px !important;
}

.m-y-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important;
}

.m-x-110 {
  margin-left: 110px !important;
  margin-right: 110px !important;
}

.m-t-110 {
  margin-top: 110px !important;
}

.m-b-110 {
  margin-bottom: 110px !important;
}

.m-l-110 {
  margin-left: 110px !important;
}

.m-r-110 {
  margin-right: 110px !important;
}

.p-a-110 {
  padding: 110px !important;
}

.p-y-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important;
}

.p-x-110 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}

.p-t-110 {
  padding-top: 110px !important;
}

.p-b-110 {
  padding-bottom: 110px !important;
}

.p-l-110 {
  padding-left: 110px !important;
}

.p-r-110 {
  padding-right: 110px !important;
}

.m-a-115 {
  margin: 115px !important;
}

.m-y-115 {
  margin-top: 115px !important;
  margin-bottom: 115px !important;
}

.m-x-115 {
  margin-left: 115px !important;
  margin-right: 115px !important;
}

.m-t-115 {
  margin-top: 115px !important;
}

.m-b-115 {
  margin-bottom: 115px !important;
}

.m-l-115 {
  margin-left: 115px !important;
}

.m-r-115 {
  margin-right: 115px !important;
}

.p-a-115 {
  padding: 115px !important;
}

.p-y-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important;
}

.p-x-115 {
  padding-left: 115px !important;
  padding-right: 115px !important;
}

.p-t-115 {
  padding-top: 115px !important;
}

.p-b-115 {
  padding-bottom: 115px !important;
}

.p-l-115 {
  padding-left: 115px !important;
}

.p-r-115 {
  padding-right: 115px !important;
}

.m-a-120 {
  margin: 120px !important;
}

.m-y-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.m-x-120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.m-t-120 {
  margin-top: 120px !important;
}

.m-b-120 {
  margin-bottom: 120px !important;
}

.m-l-120 {
  margin-left: 120px !important;
}

.m-r-120 {
  margin-right: 120px !important;
}

.p-a-120 {
  padding: 120px !important;
}

.p-y-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.p-x-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.p-t-120 {
  padding-top: 120px !important;
}

.p-b-120 {
  padding-bottom: 120px !important;
}

.p-l-120 {
  padding-left: 120px !important;
}

.p-r-120 {
  padding-right: 120px !important;
}

.m-a-125 {
  margin: 125px !important;
}

.m-y-125 {
  margin-top: 125px !important;
  margin-bottom: 125px !important;
}

.m-x-125 {
  margin-left: 125px !important;
  margin-right: 125px !important;
}

.m-t-125 {
  margin-top: 125px !important;
}

.m-b-125 {
  margin-bottom: 125px !important;
}

.m-l-125 {
  margin-left: 125px !important;
}

.m-r-125 {
  margin-right: 125px !important;
}

.p-a-125 {
  padding: 125px !important;
}

.p-y-125 {
  padding-top: 125px !important;
  padding-bottom: 125px !important;
}

.p-x-125 {
  padding-left: 125px !important;
  padding-right: 125px !important;
}

.p-t-125 {
  padding-top: 125px !important;
}

.p-b-125 {
  padding-bottom: 125px !important;
}

.p-l-125 {
  padding-left: 125px !important;
}

.p-r-125 {
  padding-right: 125px !important;
}

.m-a-130 {
  margin: 130px !important;
}

.m-y-130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

.m-x-130 {
  margin-left: 130px !important;
  margin-right: 130px !important;
}

.m-t-130 {
  margin-top: 130px !important;
}

.m-b-130 {
  margin-bottom: 130px !important;
}

.m-l-130 {
  margin-left: 130px !important;
}

.m-r-130 {
  margin-right: 130px !important;
}

.p-a-130 {
  padding: 130px !important;
}

.p-y-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}

.p-x-130 {
  padding-left: 130px !important;
  padding-right: 130px !important;
}

.p-t-130 {
  padding-top: 130px !important;
}

.p-b-130 {
  padding-bottom: 130px !important;
}

.p-l-130 {
  padding-left: 130px !important;
}

.p-r-130 {
  padding-right: 130px !important;
}

.m-a-135 {
  margin: 135px !important;
}

.m-y-135 {
  margin-top: 135px !important;
  margin-bottom: 135px !important;
}

.m-x-135 {
  margin-left: 135px !important;
  margin-right: 135px !important;
}

.m-t-135 {
  margin-top: 135px !important;
}

.m-b-135 {
  margin-bottom: 135px !important;
}

.m-l-135 {
  margin-left: 135px !important;
}

.m-r-135 {
  margin-right: 135px !important;
}

.p-a-135 {
  padding: 135px !important;
}

.p-y-135 {
  padding-top: 135px !important;
  padding-bottom: 135px !important;
}

.p-x-135 {
  padding-left: 135px !important;
  padding-right: 135px !important;
}

.p-t-135 {
  padding-top: 135px !important;
}

.p-b-135 {
  padding-bottom: 135px !important;
}

.p-l-135 {
  padding-left: 135px !important;
}

.p-r-135 {
  padding-right: 135px !important;
}

.m-a-140 {
  margin: 140px !important;
}

.m-y-140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}

.m-x-140 {
  margin-left: 140px !important;
  margin-right: 140px !important;
}

.m-t-140 {
  margin-top: 140px !important;
}

.m-b-140 {
  margin-bottom: 140px !important;
}

.m-l-140 {
  margin-left: 140px !important;
}

.m-r-140 {
  margin-right: 140px !important;
}

.p-a-140 {
  padding: 140px !important;
}

.p-y-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}

.p-x-140 {
  padding-left: 140px !important;
  padding-right: 140px !important;
}

.p-t-140 {
  padding-top: 140px !important;
}

.p-b-140 {
  padding-bottom: 140px !important;
}

.p-l-140 {
  padding-left: 140px !important;
}

.p-r-140 {
  padding-right: 140px !important;
}

.m-a-145 {
  margin: 145px !important;
}

.m-y-145 {
  margin-top: 145px !important;
  margin-bottom: 145px !important;
}

.m-x-145 {
  margin-left: 145px !important;
  margin-right: 145px !important;
}

.m-t-145 {
  margin-top: 145px !important;
}

.m-b-145 {
  margin-bottom: 145px !important;
}

.m-l-145 {
  margin-left: 145px !important;
}

.m-r-145 {
  margin-right: 145px !important;
}

.p-a-145 {
  padding: 145px !important;
}

.p-y-145 {
  padding-top: 145px !important;
  padding-bottom: 145px !important;
}

.p-x-145 {
  padding-left: 145px !important;
  padding-right: 145px !important;
}

.p-t-145 {
  padding-top: 145px !important;
}

.p-b-145 {
  padding-bottom: 145px !important;
}

.p-l-145 {
  padding-left: 145px !important;
}

.p-r-145 {
  padding-right: 145px !important;
}

.m-a-150 {
  margin: 150px !important;
}

.m-y-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
}

.m-x-150 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}

.m-t-150 {
  margin-top: 150px !important;
}

.m-b-150 {
  margin-bottom: 150px !important;
}

.m-l-150 {
  margin-left: 150px !important;
}

.m-r-150 {
  margin-right: 150px !important;
}

.p-a-150 {
  padding: 150px !important;
}

.p-y-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.p-x-150 {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.p-t-150 {
  padding-top: 150px !important;
}

.p-b-150 {
  padding-bottom: 150px !important;
}

.p-l-150 {
  padding-left: 150px !important;
}

.p-r-150 {
  padding-right: 150px !important;
}

.m-a-155 {
  margin: 155px !important;
}

.m-y-155 {
  margin-top: 155px !important;
  margin-bottom: 155px !important;
}

.m-x-155 {
  margin-left: 155px !important;
  margin-right: 155px !important;
}

.m-t-155 {
  margin-top: 155px !important;
}

.m-b-155 {
  margin-bottom: 155px !important;
}

.m-l-155 {
  margin-left: 155px !important;
}

.m-r-155 {
  margin-right: 155px !important;
}

.p-a-155 {
  padding: 155px !important;
}

.p-y-155 {
  padding-top: 155px !important;
  padding-bottom: 155px !important;
}

.p-x-155 {
  padding-left: 155px !important;
  padding-right: 155px !important;
}

.p-t-155 {
  padding-top: 155px !important;
}

.p-b-155 {
  padding-bottom: 155px !important;
}

.p-l-155 {
  padding-left: 155px !important;
}

.p-r-155 {
  padding-right: 155px !important;
}

.m-a-160 {
  margin: 160px !important;
}

.m-y-160 {
  margin-top: 160px !important;
  margin-bottom: 160px !important;
}

.m-x-160 {
  margin-left: 160px !important;
  margin-right: 160px !important;
}

.m-t-160 {
  margin-top: 160px !important;
}

.m-b-160 {
  margin-bottom: 160px !important;
}

.m-l-160 {
  margin-left: 160px !important;
}

.m-r-160 {
  margin-right: 160px !important;
}

.p-a-160 {
  padding: 160px !important;
}

.p-y-160 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}

.p-x-160 {
  padding-left: 160px !important;
  padding-right: 160px !important;
}

.p-t-160 {
  padding-top: 160px !important;
}

.p-b-160 {
  padding-bottom: 160px !important;
}

.p-l-160 {
  padding-left: 160px !important;
}

.p-r-160 {
  padding-right: 160px !important;
}

.m-a-165 {
  margin: 165px !important;
}

.m-y-165 {
  margin-top: 165px !important;
  margin-bottom: 165px !important;
}

.m-x-165 {
  margin-left: 165px !important;
  margin-right: 165px !important;
}

.m-t-165 {
  margin-top: 165px !important;
}

.m-b-165 {
  margin-bottom: 165px !important;
}

.m-l-165 {
  margin-left: 165px !important;
}

.m-r-165 {
  margin-right: 165px !important;
}

.p-a-165 {
  padding: 165px !important;
}

.p-y-165 {
  padding-top: 165px !important;
  padding-bottom: 165px !important;
}

.p-x-165 {
  padding-left: 165px !important;
  padding-right: 165px !important;
}

.p-t-165 {
  padding-top: 165px !important;
}

.p-b-165 {
  padding-bottom: 165px !important;
}

.p-l-165 {
  padding-left: 165px !important;
}

.p-r-165 {
  padding-right: 165px !important;
}

.m-a-170 {
  margin: 170px !important;
}

.m-y-170 {
  margin-top: 170px !important;
  margin-bottom: 170px !important;
}

.m-x-170 {
  margin-left: 170px !important;
  margin-right: 170px !important;
}

.m-t-170 {
  margin-top: 170px !important;
}

.m-b-170 {
  margin-bottom: 170px !important;
}

.m-l-170 {
  margin-left: 170px !important;
}

.m-r-170 {
  margin-right: 170px !important;
}

.p-a-170 {
  padding: 170px !important;
}

.p-y-170 {
  padding-top: 170px !important;
  padding-bottom: 170px !important;
}

.p-x-170 {
  padding-left: 170px !important;
  padding-right: 170px !important;
}

.p-t-170 {
  padding-top: 170px !important;
}

.p-b-170 {
  padding-bottom: 170px !important;
}

.p-l-170 {
  padding-left: 170px !important;
}

.p-r-170 {
  padding-right: 170px !important;
}

.m-a-175 {
  margin: 175px !important;
}

.m-y-175 {
  margin-top: 175px !important;
  margin-bottom: 175px !important;
}

.m-x-175 {
  margin-left: 175px !important;
  margin-right: 175px !important;
}

.m-t-175 {
  margin-top: 175px !important;
}

.m-b-175 {
  margin-bottom: 175px !important;
}

.m-l-175 {
  margin-left: 175px !important;
}

.m-r-175 {
  margin-right: 175px !important;
}

.p-a-175 {
  padding: 175px !important;
}

.p-y-175 {
  padding-top: 175px !important;
  padding-bottom: 175px !important;
}

.p-x-175 {
  padding-left: 175px !important;
  padding-right: 175px !important;
}

.p-t-175 {
  padding-top: 175px !important;
}

.p-b-175 {
  padding-bottom: 175px !important;
}

.p-l-175 {
  padding-left: 175px !important;
}

.p-r-175 {
  padding-right: 175px !important;
}

.m-a-180 {
  margin: 180px !important;
}

.m-y-180 {
  margin-top: 180px !important;
  margin-bottom: 180px !important;
}

.m-x-180 {
  margin-left: 180px !important;
  margin-right: 180px !important;
}

.m-t-180 {
  margin-top: 180px !important;
}

.m-b-180 {
  margin-bottom: 180px !important;
}

.m-l-180 {
  margin-left: 180px !important;
}

.m-r-180 {
  margin-right: 180px !important;
}

.p-a-180 {
  padding: 180px !important;
}

.p-y-180 {
  padding-top: 180px !important;
  padding-bottom: 180px !important;
}

.p-x-180 {
  padding-left: 180px !important;
  padding-right: 180px !important;
}

.p-t-180 {
  padding-top: 180px !important;
}

.p-b-180 {
  padding-bottom: 180px !important;
}

.p-l-180 {
  padding-left: 180px !important;
}

.p-r-180 {
  padding-right: 180px !important;
}

.m-a-185 {
  margin: 185px !important;
}

.m-y-185 {
  margin-top: 185px !important;
  margin-bottom: 185px !important;
}

.m-x-185 {
  margin-left: 185px !important;
  margin-right: 185px !important;
}

.m-t-185 {
  margin-top: 185px !important;
}

.m-b-185 {
  margin-bottom: 185px !important;
}

.m-l-185 {
  margin-left: 185px !important;
}

.m-r-185 {
  margin-right: 185px !important;
}

.p-a-185 {
  padding: 185px !important;
}

.p-y-185 {
  padding-top: 185px !important;
  padding-bottom: 185px !important;
}

.p-x-185 {
  padding-left: 185px !important;
  padding-right: 185px !important;
}

.p-t-185 {
  padding-top: 185px !important;
}

.p-b-185 {
  padding-bottom: 185px !important;
}

.p-l-185 {
  padding-left: 185px !important;
}

.p-r-185 {
  padding-right: 185px !important;
}

.m-a-190 {
  margin: 190px !important;
}

.m-y-190 {
  margin-top: 190px !important;
  margin-bottom: 190px !important;
}

.m-x-190 {
  margin-left: 190px !important;
  margin-right: 190px !important;
}

.m-t-190 {
  margin-top: 190px !important;
}

.m-b-190 {
  margin-bottom: 190px !important;
}

.m-l-190 {
  margin-left: 190px !important;
}

.m-r-190 {
  margin-right: 190px !important;
}

.p-a-190 {
  padding: 190px !important;
}

.p-y-190 {
  padding-top: 190px !important;
  padding-bottom: 190px !important;
}

.p-x-190 {
  padding-left: 190px !important;
  padding-right: 190px !important;
}

.p-t-190 {
  padding-top: 190px !important;
}

.p-b-190 {
  padding-bottom: 190px !important;
}

.p-l-190 {
  padding-left: 190px !important;
}

.p-r-190 {
  padding-right: 190px !important;
}

.m-a-195 {
  margin: 195px !important;
}

.m-y-195 {
  margin-top: 195px !important;
  margin-bottom: 195px !important;
}

.m-x-195 {
  margin-left: 195px !important;
  margin-right: 195px !important;
}

.m-t-195 {
  margin-top: 195px !important;
}

.m-b-195 {
  margin-bottom: 195px !important;
}

.m-l-195 {
  margin-left: 195px !important;
}

.m-r-195 {
  margin-right: 195px !important;
}

.p-a-195 {
  padding: 195px !important;
}

.p-y-195 {
  padding-top: 195px !important;
  padding-bottom: 195px !important;
}

.p-x-195 {
  padding-left: 195px !important;
  padding-right: 195px !important;
}

.p-t-195 {
  padding-top: 195px !important;
}

.p-b-195 {
  padding-bottom: 195px !important;
}

.p-l-195 {
  padding-left: 195px !important;
}

.p-r-195 {
  padding-right: 195px !important;
}

.m-a-200 {
  margin: 200px !important;
}

.m-y-200 {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.m-x-200 {
  margin-left: 200px !important;
  margin-right: 200px !important;
}

.m-t-200 {
  margin-top: 200px !important;
}

.m-b-200 {
  margin-bottom: 200px !important;
}

.m-l-200 {
  margin-left: 200px !important;
}

.m-r-200 {
  margin-right: 200px !important;
}

.p-a-200 {
  padding: 200px !important;
}

.p-y-200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}

.p-x-200 {
  padding-left: 200px !important;
  padding-right: 200px !important;
}

.p-t-200 {
  padding-top: 200px !important;
}

.p-b-200 {
  padding-bottom: 200px !important;
}

.p-l-200 {
  padding-left: 200px !important;
}

.p-r-200 {
  padding-right: 200px !important;
}

.p-10 {
  padding: 10px;
}

.p-30 {
  padding: 30px;
}

@media (min-width: 575.98px) {
  .m-t-lg-50 {
    margin-top: 50px;
  }

  .m-b-lg-50 {
    margin-bottom: 50px;
  }

  .p-r-50 {
    padding-right: 50px;
  }
}
.bg-yellow {
  background-color: yellow;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

.opacity-0 {
  opacity: 0%;
}

.vertical-align-center {
  vertical-align: middle !important;
}

.nav-oeuvre {
  font-family: Reross;
  text-transform: uppercase;
  color: black;
  font-size: 10px;
}
.nav-oeuvre a {
  color: black;
}
.nav-oeuvre a:hover {
  color: black;
}
.nav-oeuvre .nav-item {
  border: 2px solid black;
}
.nav-oeuvre .nav-item-empty {
  display: none;
}

@media (min-width: 575.98px) {
  .nav-oeuvre {
    font-size: 18px;
    border-top: 3px solid black;
  }
  .nav-oeuvre .nav-item {
    border: 3px solid black;
    border-top: none;
    border-right: none;
  }

  .nav-item-empty {
    display: block !important;
    width: 15%;
    border-left: none !important;
    border-right: none !important;
  }
}
.fal {
  font-family: "Font Awesome 5 Free";
}

#product-slider {
  width: auto;
}
#product-slider > div:nth-of-type(2) {
  margin-top: 0;
}
#product-slider.reverse {
  display: flex;
  flex-direction: column-reverse;
}
#product-slider.reverse > div:first-of-type {
  margin-bottom: 1em;
}
#product-slider.reverse > div:nth-of-type(2) {
  margin-top: 0;
}
#product-slider.has-social-share #product-slider__nav {
  width: 437.5px;
  margin-bottom: 0;
  display: inline-block;
}
#product-slider.has-social-share .social-share {
  width: 57.5px;
  height: 62.5px;
  background: no-repeat;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  outline: none;
  box-shadow: none;
  display: inline-block;
  float: right;
}
#product-slider.has-social-share .social-share:hover {
  opacity: 1;
}
#product-slider.has-social-share .social-share * {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
#product-slider.has-social-share .social-share__links {
  display: none;
  position: absolute;
  width: 150px;
  padding: 2em 1em;
  border: 1px solid black;
  z-index: 1;
  background: white;
  left: 0;
  margin-top: 15px;
  filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.16));
}
#product-slider.has-social-share .social-share__links::before {
  float: left;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ffffff;
  filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.16));
  -webkit-filter: drop-shadow(0 -1px 0 black);
  position: relative;
  left: 17x;
  content: "";
  top: -11px;
  position: absolute;
  z-index: 2;
}
#product-slider.has-social-share .social-share__links a {
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 2em;
  color: black;
  display: inline-block;
}
#product-slider.has-social-share .social-share__text {
  margin-top: 5px;
}
#product-slider.has-social-share .social-share__icon {
  font-size: 1.25em;
}
#product-slider.has-social-share .social-share.is-visible {
  opacity: 1;
}
#product-slider.has-social-share .social-share.is-visible .social-share__links {
  display: block;
}
#product-slider .slick-slide {
  display: flex;
  align-items: center;
}
#product-slider .slick-slide img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
#product-slider .slick-arrow {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 42px;
  margin: auto;
  width: 10%;
  text-align: center;
  z-index: 1;
  color: #000;
  background: white;
  height: 1.2em;
  padding: 1em 0;
  cursor: pointer;
}
#product-slider .slick-arrow.slick-next {
  left: initial;
}
#product-slider .slick-arrow.slick-prev {
  right: initial;
}

#product-slider__main {
  margin-bottom: 0;
}
#product-slider__main::after {
  width: 100%;
  display: block;
  padding: 1em 0;
  content: "";
}
#product-slider__main.object-fit--contain .slick-slide img {
  height: 500px;
  width: auto;
}
#product-slider__main .slick-slide {
  height: 500px;
}
#product-slider__main .slick-slide img {
  cursor: zoom-in;
}

#product-slider__nav.object-fit--contain .slick-slide img {
  object-fit: cover;
  height: 62.5px;
}
#product-slider__nav .slick-slide {
  margin-right: 1em;
}
#product-slider__nav .slick-slide.slick-current img {
  border: 1px solid #333;
  padding: 2px;
  box-sizing: border-box;
  opacity: 0.7;
}
#product-slider__nav .slick-slide img {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  padding-top: 66.6666666667%;
}
@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}

.gallery_accroche {
  top: 215px;
  margin-left: -3px;
  height: 45%;
  border-right: black 5px solid;
  position: absolute;
}

.btn {
  border-radius: 0 !important;
  text-transform: uppercase;
}

.btn-orange {
  background-color: #FE9B04;
  color: white !important;
}

.btn-white {
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
}
.btn-white:hover {
  color: white;
  background-color: black;
}

.btn-white-XL {
  padding-left: 80px;
  padding-right: 80px;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
}
.btn-white-XL:hover {
  color: white;
  background-color: black;
}

.tag-white {
  color: black;
  padding: 5px;
  border: 1px solid black;
  max-width: 100px;
  border-radius: 0 !important;
}

.tag-grey {
  color: black;
  background-color: #F7F7F7;
  padding: 5px;
  border: 1px solid #707070;
  max-width: 100px;
  border-radius: 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black !important;
  border-bottom: 3px solid black;
  background-color: transparent !important;
  font-weight: bold;
}

.nav-pills .nav-link {
  text-transform: uppercase;
  color: black !important;
  background-color: none !important;
  border-radius: 0 !important;
}

.carousel-indicators {
  margin-bottom: 5px !important;
}

.carousel-indicators [data-bs-target] {
  height: 10px !important;
  width: 10px !important;
  border-radius: 10px !important;
  border-top: none !important;
  border-bottom: none !important;
}

.breadcrumb {
  color: #5f5f5f;
  text-transform: uppercase;
  font-family: "Acumin Pro Wide";
  font-size: 10px;
}
.breadcrumb a {
  color: #5f5f5f;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: #000000;
}

@media (min-width: 575.98px) {
  .breadcrumb {
    font-size: 14px;
  }
}
.artwork-info {
  border: 2px solid black;
}

.artwork-info-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.artwork-line-right {
  position: absolute;
  right: 0;
  border: 2px solid black;
  width: 200px;
}

@media (min-width: 575.98px) {
  .artwork-info-img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
  }
}

/*# sourceMappingURL=app.css.map */
