.breadcrumb {
  color: $grey;
  text-transform: uppercase;
  font-family: "Acumin Pro Wide";
  font-size: 10px;

  a{
    color: $grey;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }
}

@media (min-width: 575.98px) {
  .breadcrumb {
    font-size: 14px;
  }
}