.nav-oeuvre {
  font-family: Reross;
  text-transform: uppercase;
  color: black;
  font-size: 10px;

  a {
    color: black;

    &:hover {
      color: black;
    }
  }

  .nav-item {
    border: 2px solid black;
  }

  .nav-item-empty {
    display:none;
  }
}

@media (min-width: 575.98px) {

  .nav-oeuvre {
    font-size: 18px;
    border-top: 2px solid black;

    .nav-item {
      border: 2px solid black;
      border-top: none;
    }
  }

  .nav-item-empty {
    display: block!important;
    width: 20%;
    border-left: none!important;
    border-right: none!important;
  }
}