.navbar-lateral-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100000;
  position: fixed;
  margin-top: 400px;
  background-color: white;
  width: 70px;
  height: 100vh;
  text-align: center;

  li {
    list-style: none;
  }
}