.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: black!important;
  border-bottom: 3px solid black;
  background-color: transparent!important;
  font-weight: bold;
}

.nav-pills .nav-link {
  text-transform: uppercase;
  color: black!important;
  background-color: none!important;
  border-radius: 0!important;
}
