.artwork-info {
  border-left: 5px solid black;
}

.artwork-info-right {
  border-right: 5px solid black;
}

.artwork-info-col {
  border-left: 5px solid black;
}

.artwork-info-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.artwork-line-right {
  position: absolute;
  right: 0;
  border: 2px solid black;
  width: 200px;
}

.artwork-info-full {
  border: 5px solid black;
}

.artwork-info-p-border {
  position: relative;
  top: 15px;
  right:0px;
  float: right;
  width: 75%;
  height: 20px;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

.artwork-info-button-line {
  z-index: -1;
  width: 15%;
  height: 68px;
  position: relative;
  top: -120px;
  left: -20px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.nav-artwork-2-line {
  position: relative;
  top:-50px;
  left: -15px;
  width: 20px;
  border-top: 5px solid black;
}

.nav-artwork-2-line-2 {
  position: relative;
  top:-55px;
  right: -100%;
  width: 15px;
  border-top: 5px solid black;
}

.nav-artwork-2-line-3 {
  position: relative;
  top:-15px;
  right: -100%;
  width: 20px;
  border-top: 5px solid black;
}


@media (min-width: 576px) and (max-width: 992px) {
  .nav-artwork-2-line {
    top:-74px;
    left: -50px;
    width: 50px;
    border-top: 5px solid black;
  }

  .nav-artwork-2-line-2 {
    position: relative;
    top:-79px;
    right: -100%;
    width: 35px;
    border-top: 5px solid black;
  }

  .nav-artwork-2-line-3 {
    position: relative;
    top:-15px;
    right: -100%;
    width: 60px;
    border-top: 5px solid black;
  }
}
@media (min-width: 575.98px) {
  .artwork-info-img {
    height: 300px;
    width: 300px;
    border-radius: 300px;
  }
}

@media (min-width: 992px) {
  .artwork-info {
    border: 3px solid black;
  }

  .artwork-info-right {
    border-right: none;
  }

  .artwork-info-col {
    border-left: none;
  }

  .artwork-info-column {
    min-width: 305px;
  }
}