* {
  font-family: "Acumin Pro Wide";
}
//TITLE

//Reross Quadratic
@import url("https://use.typekit.net/ogg7cnr.css");
.reross {
  font-family: Reross;
}

// Acumin pro wide
@import url("https://use.typekit.net/ogg7cnr.css");
.acumin {
  font-family: "Acumin Pro Wide";
}
.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}
//H1-2-3
H1{
  font-family: Reross;
  text-transform: uppercase;

}

H2{
  font-family: Reross;
  text-transform: uppercase;
  font-size: 20px;
}

H3{
  font-family: Reross;
  text-transform: uppercase;
}

H4{
  font-family: "Acumin Pro Wide";
  text-transform: uppercase;
  font-size: 20px;
}

//P

p{
  font-family: "Acumin Pro Wide";
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}


@media (min-width: 575.98px) {
  H2{
    font-size: 30px;
  }
}