
//Container
@media (min-width: 575.98px) {
  .container {
    max-width: 90%;
  }
}

//Background color

.bg-yellow {
  background-color: yellow;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

//Opacity

.opacity-0 {
  opacity: 0%;
}

// Vertical align

.vertical-align-center {
  vertical-align: middle!important;
}


// Text

.text-justify {
  line-height: 30px;
  text-align: justify;
}

.space-no-wrap {
  white-space: nowrap;
}