
//Container
@media (min-width: 575.98px) {
  .container {
    max-width: 90%;
  }
}

//Background color

.bg-yellow {
  background-color: yellow;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

//Opacity

.opacity-0 {
  opacity: 0%;
}

// Vertical align

.vertical-align-center {
  vertical-align: middle!important;
}


// Text

.text-justify {
  line-height: 30px;
  text-align: justify;
}

.space-no-wrap {
  white-space: nowrap;
}

// HR

.hr-no-margin {
  width: 107%;
}

// DROPDOWN

.dropdown-toggle-orange::after {
  color: $orange;
}

.black .dropdown-toggle::after {
  color: black;
}

// UNDERLINE

.title-underline {
  position: relative;
  top: -80px;
  left: -8%;
  width: 70%;
  border-bottom: 7px solid black;

}

.title-underline_left {
  height: 120px;
  position: relative;
  left: 8%;
  bottom: -60px;
  border-left: 3px solid black;
}


@media (min-width: 1100px) and (max-width: 1300px) {
  .title-underline_left {
    left: 150px;
  }
}

@media (min-width: 1300px) {
  .title-underline_left {
    left: 200px;
  }
}