// ==========================================================================
// Spacings
// ==========================================================================
/*
 * Useful classes for margins & paddings, taking account media queries.
 * ex: `.m-a-25` (margins of 25px), `.m-x-25` (horiz. margins of 25px), `.p-y-70` (vertic. paddings of 70px),
 * `.m-l-md-25` (margin-left 25px, within md media-query), `.p-r-xs-10` (padding-right 10px, within xs media-query)
*/

//@each $space in $spaces{
$i: 0;
@while $i <= 200 {

  // margins
  .m-a-#{$i} { margin: #{$i}px !important; }
  .m-y-#{$i} { margin-top: #{$i}px !important; margin-bottom: #{$i}px !important; }
  .m-x-#{$i} { margin-left: #{$i}px !important; margin-right: #{$i}px !important; }
  .m-t-#{$i} { margin-top: #{$i}px !important; }
  .m-b-#{$i} { margin-bottom: #{$i}px !important; }
  .m-l-#{$i} { margin-left: #{$i}px !important; }
  .m-r-#{$i} { margin-right: #{$i}px !important; }
  // paddings
  .p-a-#{$i} { padding: #{$i}px !important; }
  .p-y-#{$i} { padding-top: #{$i}px !important; padding-bottom: #{$i}px !important; }
  .p-x-#{$i} { padding-left: #{$i}px !important; padding-right: #{$i}px !important; }
  .p-t-#{$i} { padding-top: #{$i}px !important; }
  .p-b-#{$i} { padding-bottom: #{$i}px !important; }
  .p-l-#{$i} { padding-left: #{$i}px !important; }
  .p-r-#{$i} { padding-right: #{$i}px !important; }

  $i: $i + 5;
}
.p-10 {
  padding: 10px;
}